.env
misc.xml
compiler.xml
vcs.xml
generated-sources/
generated-test-sources/
surefire-reports/
*.class
.DS_Store
# mvnw
# mvnw.cmd
user-service/output.log
.claude
.idea/
IntelliLang.xml
encodings.xml
jarRepositories.xml
.vscode/
.worktreeinclude